.inputWrapper {
  width: 100%;
  height: 34px;
  font-size: $primaryFontSize;
  position: relative;
  color: $primaryColor;

  .input {
    width: 100%;
    height: 100%;
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid $primaryColor;
    font-size: $primaryFontSize;
    padding: 0 15px;
  }

  .label {
    position: absolute;
    top: 12px;
    left: 15px;
    transition: all .3s ease-in-out;
  }

  .input:focus ~ .label, .input.active ~ .label {
    top: -15px;
    left: 0;
    font-size: 12px;
  }
}
