.btn {
  color: $white;
  font-size: $primaryFontSize;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  background: $orangePrimaryColor;
  margin-left: auto;
  appearance: none;
  cursor: pointer;
}
