.react-datepicker-wrapper {
  display: block;

  input {
    width: 100%;
    height: 100%;
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid #005b85;
    font-size: 18px;
    padding: 0 15px;
  }
}
