.table-header {
  text-align: center;
}

.table-row {
  display: flex;
  width: 100%;
  align-items: center;
  border: 1px solid $primaryColor;
  color: $primaryColor;;
  border-radius: 5px;
  margin-bottom: 25px;
  text-decoration: none;

  .table-cell {
    padding: 10px 5px;
    flex: 1 0;
    text-align: left;
    &:first-child {
      width: 50px;
      flex: unset;
    }
  }
}
