#root {
  min-height: 100%;
  color: $primaryColor;
  font-size: $primaryFontSize;
}

main.container {
  min-height: calc(100vh - 100px);
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  width: 100%;
  min-height: 100%;
  padding: 100px 0;
}

.login-form {
  max-width: 600px;
  width: 100%;
}

.form-row {
  margin-bottom: 35px;

  .error {
    font-size: 11px;
    color: $orangePrimaryColor;
  }
}

.filters {
  margin-bottom: 35px;

  .form-row {
    margin-bottom: 15px;

    .filter-label {
      display: block;
      margin-bottom: 10px;

      > div {
        margin-top: 10px;
      }
    }
  }
}

.button-row {
  display: flex;
}

.switcher {
  position: absolute;
  top: 65px;
  color: $primaryColor;
  font-size: $primaryFontSize;

  span {
    padding: 15px;
    cursor: pointer;
    position: relative;
    transition: all .3s ease-in-out;

    &:hover:after, &.active:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 10px;
      width: 100%;
      height: 2px;
      background: $primaryColor;
    }
  }
}
