.pagination {
  text-align: center;

  &-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid $primaryColor;
    cursor: pointer;
    margin: 0 5px;
  }

  &-item.active {
    border: 1px solid $orangePrimaryColor;
    color: $orangePrimaryColor;
  }
}
