.ripple__rounds {
  border: 0 solid transparent;
  border-radius: 50%;
  position: relative;
}
.ripple__rounds:before, .ripple__rounds:after {
  content: '';
  border: 0.5em solid $orangePrimaryColor;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: ripple__rounds 1s linear infinite;
  opacity: 0;
}
.ripple__rounds:before {
  animation-delay: .5s;
}
.ripple__rounds:after {
  animation-delay: 0s;
}
@keyframes ripple__rounds {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
[class*=ripple__rounds] {
  display: inline-block;
  width: 8em;
  height:8em;
  color: inherit;
  vertical-align: middle;
  pointer-events: none;
}
.box {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
}
