.header {
  background: rgba(0, 87, 184, .7);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    height: 100px;
  }
}

.nav-list {
  display: flex;
  color: $primaryColor;
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    margin-right: 25px;

    a {
      color: $primaryColor;
      font-size: $primaryFontSize;
      text-decoration: none;

      &.active {
        font-weight: 600;
        pointer-events: none;
      }
    }
  }
}

.nav-wrapper {
  display: flex;
  align-items: center;
}
