.entity-page {
  width: 100%;
  height: 100%;
  padding-top: 100px;

  .table-row .table-cell {
    width: 50%;

    &:last-child {
      text-align: center;
      border-left: 1px solid;
    }
  }

  .btn {
    display: inline-block;
    margin-right: 20px;
    min-width: 175px;
  }
}
