.notification {
  text-align: center;
  padding: 15px;
  border: 1px solid green;
  border-radius: 5px;
  background: rgba(0, 255, 0, .3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &.error {
    border: 1px solid $orangePrimaryColor;
    background: #ff55009e;
  }
}
