.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .3s ease-in-out;
  pointer-events: none;
  overflow-y: auto;

  &__content {
    width: 50vw;
    background: $white;
    padding: 20px;

    form {
      max-height: 500px;
      overflow-y: auto;
    }
  }
}

.modal.active {
  opacity: 1;
  pointer-events: auto;
}
